/*https://angular-ui.github.io/bootstrap/#/getting_started*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.main-template {
    padding: 40px 10px;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one          */
    display: flex;
    align-items: center;
}

.navbar-btn {
    margin-right: 8px;
}
